@media screen and (min-width:768px){
body{
	
	background-color:#E0DFCF;
	width:1024px;
	heigth: 768px;
	margin:auto auto;
	font-family:"Sathu";
	}
	
h2{
	font-size:25px;
	margin-bottom:-5px;
}

div#header-wrapper
{
	width:1024px;
}

div#socialmedia
{
	float:right;
	font-size:10px;
}
	
ul{
	margin-left:-40px;	
}

li.pages
{
	display:block;
	background-color:#333;
	color:#CCC;
	float:left;
	padding:10px;
	padding-left:75px;
	padding-right:75px;
	-moz-border-radius: 15px;
border-radius: 5px;

}

li a
{
	color:#EEE;
	text-decoration:none;
}

li a:hover
{
	color:#AAA;
	text-decoration:underline;
}

li
{
	list-style:none;
}

div#Text
{
	float:left;
	margin-top:30px;
	margin-left:10px;
	width:670px;
}
div#media
{
	float:right;
	margin-top:30px;
	margin-right:40px;
}

div#content
{
	
}

img.contentImg
{
	width:200px;
	height:200px;
	margin-top:50px;
	border:#FFF 3px solid;
}
img.contentImg2
{
	width:200px;
	height:200px;
	margin-top:50px;
	border:#FFF 3px solid;
}

div#footer
{
	font-size:11px;
	float:left;

}

div#logos
{
	float:right;
	margin-left:600px;
	margin-top:-40px;
	margin-bottom:10px;
}

li.links
{
	margin-left:20px;
	float:left;
}

li.links img
{
	width:50px;
	height:50px;
}

li.links img.speciaal
{
	width:60px;
	height:30px;
}
}

/*-- RESPONSIVE */

@media screen and (min-width:0px) and (max-width:768px)
{	
body{
	
	background-color:#E0DFCF;
	width:400px;
	heigth: 768px;
	margin:auto auto;
	font-family:"Sathu";
	}
	
h2{
	font-size:25px;
	margin-bottom:-5px;
}

div#header-wrapper
{
	width:400px;
}

div#socialmedia
{
	float:right;
	font-size:10px;
}
	
ul{
	margin-left:-40px;	
}

li.pages
{
	display:block;
	background-color:#333;
	color:#CCC;
	float:left;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	-moz-border-radius: 15px;
border-radius: 5px;
font-size:13px;

}

li a
{
	color:#EEE;
	text-decoration:none;
}

li a:hover
{
	color:#AAA;
	text-decoration:underline;
}

li
{
	list-style:none;
}

div#Text
{
	float:left;
	margin-top:30px;
	margin-left:10px;
	width:400px;
}
div#media
{
	float:left;
	margin-top:10px;
	margin-right:40px;
}


img.contentImg
{
	width:150px;
	height:150px;
	margin-top:50px;
	margin-left:20px;
	border:#FFF 3px solid;
}

img.contentImg2
{
	width:150px;
	height:150px;
	margin-top:-160px;
	margin-left:220px;
	border:#FFF 3px solid;
	float:right;
}

div#footer
{
	font-size:11px;
	float:left;

}

div#logos
{
	float:right;
	margin-bottom:10px;
}

li.links
{
	margin-left:20px;
	float:left;
}

li.links img
{
	width:50px;
	height:50px;
}

li.links img.speciaal
{
	width:60px;
	height:30px;
}
}